In [1]:
import numpy as np
import pandas as pd

In [2]:
# movies.csv
url = 'https://drive.google.com/file/d/1EknR8ceW4HEkjW-41F4z_IVku0RZERWH/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
movies = pd.read_csv(path)

# links.csv
url = 'https://drive.google.com/file/d/1F0jEbRxpqt1L6B_OjiLK29wZtj5JIocV/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
links = pd.read_csv(path)

# 'ratings.csv'
url = 'https://drive.google.com/file/d/1IdcUbfqlIIY0djoAtTKEDXhL6TCXyCoG/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
ratings = pd.read_csv(path) 

# tags.csv
url = 'https://drive.google.com/file/d/1kOIkbYH6xjM_38EKqienvHtzmWUGunt4/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
tags = pd.read_csv(path)

# CLEANING

In [3]:
ratings.drop(columns = "timestamp")

        userId   movieId   rating
0             1         1      4.0
1             1         3      4.0
2             1         6      4.0
3             1        47      5.0
4             1        50      5.0
...         ...       ...      ...
100831      610    166534      4.0
100832      610    168248      5.0
100833      610    168250      5.0
100834      610    168252      5.0
100835      610    170875      3.0

[100836 rows x 3 columns]

In [4]:
Ratings = ratings.rename({'userId ': 'userId', 'movieId ': 'movieId', 'rating ':'rating'}, axis=1)

In [5]:
Movies = movies.rename({'movieId ': 'movieId', 'title                                                                                                                                                          ':'title'
, 'genres' :'genres'}, axis=1)

In [6]:
Movies['title'] = Movies['title'].str.strip()

# STEP 1

In [7]:
Ratings_Movies = Ratings.merge(Movies, on='movieId')

In [8]:
Ratings_Movies.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], dtype='object')

In [9]:
user_item_df = pd.pivot_table(data=Ratings_Movies, values='rating', index='userId', columns='movieId')
user_item_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# step 2

In [ ]:
movie_id = 277

movie_ratings = user_item_df.loc[:,movie_id]
movie_ratings[movie_ratings>=0] # exclude NaNs

userId
6      5.0
12     3.0
43     5.0
58     5.0
84     3.0
103    4.0
117    4.0
136    3.0
140    3.0
162    5.0
169    4.5
170    3.0
172    4.5
181    4.0
226    3.0
230    1.0
240    3.0
280    3.0
337    4.0
349    3.0
357    4.0
372    3.0
385    3.0
396    1.0
404    3.0
406    3.0
414    2.0
419    0.5
447    4.0
474    2.0
476    3.0
517    5.0
590    3.0
592    3.0
599    1.5
600    2.0
604    4.0
608    2.5
Name: 277, dtype: float64

# Step 3

In [ ]:
similar_movies = user_item_df.corrwith(movie_ratings)
similar_movies

/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

movieId
1         0.275269
2         0.420434
3         0.651038
4         0.777778
5         0.871804
            ...
193581         NaN
193583         NaN
193585         NaN
193587         NaN
193609         NaN
Length: 9724, dtype: float64

# Step 4

In [ ]:
corr_movie = pd.DataFrame(similar_movies, columns=['PearsonR'])
corr_movie.dropna(inplace=True)
corr_movie.head(12)

         PearsonR
movieId
1        0.275269
2        0.420434
3        0.651038
4        0.777778
5        0.871804
6       -0.003398
7        0.710526
8        0.573964
9        1.000000
10      -0.373459
11       0.394077
12       1.000000

In [ ]:
rating = pd.DataFrame(Ratings_Movies.groupby('movieId')['rating'].mean())
rating['rating_count'] = Ratings_Movies.groupby('movieId')['rating'].count()

In [ ]:
rating.head()

           rating  rating_count
movieId
1        3.920930           215
2        3.431818           110
3        3.259615            52
4        2.357143             7
5        3.071429            49

# Step 5

In [ ]:
corr_summary = corr_movie.join(rating['rating_count'])
#corr_summary.drop(tortas_id, inplace=True) # drop Tortas Locas itself
corr_summary

         PearsonR  rating_count
movieId
1        0.275269           215
2        0.420434           110
3        0.651038            52
4        0.777778             7
5        0.871804            49
...           ...           ...
176371   1.000000            18
177615   1.000000             3
178061   1.000000             3
179817   1.000000             3
180031   1.000000             8

[2324 rows x 2 columns]

In [ ]:
top10 = corr_summary[corr_summary['rating_count']>=10].sort_values('PearsonR', ascending=False).head(10)
top10

         PearsonR  rating_count
movieId
176371        1.0            18
97304         1.0            28
5254          1.0            34
5463          1.0            18
1441          1.0            19
1348          1.0            16
6548          1.0            17
6595          1.0            14
1253          1.0            25
7263          1.0            10

In [ ]:
Title =  Movies[['movieId', 'title']]

In [ ]:
Title

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [ ]:
top10 = top10.merge(Title, left_index=True, right_on="movieId")
top10

,PearsonR,rating_count,movieId,title
9604,1.0,18,176371,Blade Runner 2049 (2017)
8005,1.0,28,97304,Argo (2012)
3764,1.0,34,5254,Blade II (2002)
3889,1.0,18,5463,Reign of Fire (2002)
1108,1.0,19,1441,Benny & Joon (1993)
1036,1.0,16,1348,"Nosferatu (Nosferatu, eine Symphonie des Graue..."
4432,1.0,17,6548,Bad Boys II (2003)
4467,1.0,14,6595,S.W.A.T. (2003)
952,1.0,25,1253,"Day the Earth Stood Still, The (1951)"
4860,1.0,10,7263,Miracle (2004)

In [ ]:
def similar_movies(given_id, N):
  given_id_ratings = user_item_df.loc[:,given_id]
  given_id_ratings[given_id_ratings>=0] 

  similar_to_id = user_item_df.corrwith(given_id_ratings)

  corr_movie = pd.DataFrame(similar_movies, columns=['PearsonR'])
  corr_movie.dropna(inplace=True)

  rating = pd.DataFrame(Ratings_Movies.groupby('movieId')['rating'].mean())
  rating['rating_count'] = Ratings_Movies.groupby('movieId')['rating'].count()
  rating['title'] = Ratings_Movies['title']
  #corr_summary = corr_movie.join(rating['rating_count'])
  corr_summary.drop(given_id, inplace=True)
  corr_summary_with_title =corr_summary.join(Title)

  
 # corr_summary['title'] = Title

  top_N = corr_summary_with_title[corr_summary_with_title['rating_count']>=10].sort_values('PearsonR', ascending=False).head(N)
  return top_N

# Merging for title

In [ ]:
Title =  Movies[['movieId', 'title']]
rating = pd.DataFrame(Ratings_Movies.groupby('movieId')['rating'].mean())
rating['rating_count'] = Ratings_Movies.groupby('movieId')['rating'].count()
rating['title'] = Ratings_Movies.groupby('movieId')['title']

In [ ]:
corr_summary_with_title =corr_summary.join(Title)

2324

In [ ]:
rating = pd.DataFrame(Ratings_Movies.groupby('movieId')['rating'].mean())
rating['rating_count'] = Ratings_Movies.groupby('movieId')['rating'].count()
rating['title'] = Ratings_Movies['title']
corr_summary = corr_movie.join(rating['rating_count'])

In [ ]:
corr_summary

         PearsonR  rating_count
movieId
1        0.275269           215
2        0.420434           110
3        0.651038            52
4        0.777778             7
5        0.871804            49
...           ...           ...
176371   1.000000            18
177615   1.000000             3
178061   1.000000             3
179817   1.000000             3
180031   1.000000             8

[2324 rows x 2 columns]

In [ ]:
type(Title)

pandas.core.frame.DataFrame

In [ ]:
Title =  Movies[['movieId', 'title']]
corr_summary['title'] = Title['title']

In [ ]:
corr_summary.title.sample()

movieId
5316    Bill Cosby, Himself (1983)
Name: title, dtype: object

In [ ]:
corr_summary

         PearsonR  rating_count
movieId
1        0.275269           215
2        0.420434           110
3        0.651038            52
4        0.777778             7
5        0.871804            49
...           ...           ...
176371   1.000000            18
177615   1.000000             3
178061   1.000000             3
179817   1.000000             3
180031   1.000000             8

[2324 rows x 2 columns]

# Mital's Function

In [ ]:
def similar_movies_mital(choosen_movie,n):

  user_item_df = pd.pivot_table(data=ratings, values='rating ', index= 'userId ', columns='movieId ')
  
  movie_ratings = user_item_df.loc[:,choosen_movie]
  movie_ratings[movie_ratings>=0] # exclude NaNs
  
  similar_to_movie = user_item_df.corrwith(movie_ratings)
  corr_movies = pd.DataFrame(similar_to_movie, columns=['correlation_score'])
  corr_movies.dropna(inplace=True)
  rating = pd.DataFrame(ratings.groupby('movieId ')['rating '].mean())
  rating['rating_count'] = ratings.groupby('movieId ')['rating '].count()
  movie_corr_summary = corr_movies.join(rating['rating_count'])
  movie_corr_summary.drop(choosen_movie, inplace=True) # drop Tortas Locas itself

  Title =  Movies[['movieId', 'title']]
  corr_summary_with_title =movie_corr_summary.merge(Title, left_index= True, right_index=True)

  top10 = corr_summary_with_title[corr_summary_with_title['rating_count']>=10].sort_values('correlation_score', ascending=False).head(n)

  return top10["title"]

In [ ]:
similar_movies_mital(100,5)

616          Stealing Beauty (1996)
1193           Event Horizon (1997)
374            Calendar Girl (1993)
195     Death and the Maiden (1994)
2391        Any Given Sunday (1999)
Name: title, dtype: object